<h1>Joke of the Moment</h1>

    <% if (joke) { %>
        <% if (joke.type === 'single') { %>
            <h2><%= joke.joke %></h2>
        <% } else if (joke.type === 'twopart') { %>
            <h2><%= joke.setup %></h2>
            <p><strong><%= joke.delivery %></strong></p>
        <% } %>
    <% } else { %>
        <p>Sorry, no joke available right now.</p>
    <% } %>

    <a href="/info">Get another joke</a> 

<h1>Character</h1>

<% if (personaje) { %>
    <p> Id: <%= personaje.id %></p>
    <p> Name: <%= personaje.firstName %></p>
    <p> Last Name: <%= personaje.lastName %></p>
    <p> Full Name: <%= personaje.fullName %></p>
    <p> Title: <%= personaje.title %></p>
    <p> Family: <%= personaje.family %></p>
    <p> Image: <%= personaje.image %></p>
    <p> Image URL: <%= personaje.imageUrl %></p>
<% } else { %>
    <p>No hay personajes disponibles.</p>
<% } %>

    <a href="/infoGOT">Get another character</a>